@media only screen and (max-width: 600px) {
  nav {
    display: none;
  }
}
nav {
  border-right: 1px solid grey;
  padding: 20px;
  background: var(--bg-color);
}
nav ul,
li {
  list-style-type: none;
  padding: 0;
}
nav li {
  display: flex;
  margin-bottom: 5px;
}
nav li a {
  flex: 1;
  padding: 5px 15px;
  color: var(--primary-color);
  border-radius: 12px;
}
nav li a.active {
  background: var(--primary-color);
  color: #fff;
}
