.accordion {
  border: 1px solid black;
}
.caret {
  width: 0;
  height: 0;
  display: inline-block;
  border: 5px solid transparent;
}
.caret.down {
  border-top-color:  var(--secondary-text-color);
}
.caret.right {
  border-left-color: var(--secondary-text-color);
}
.caret.up {
  border-bottom-color: var(--secondary-text-color);
}
.caret.left {
  border-right-color: var(--secondary-text-color);
}
