.accordion .panel header {
  background: #eee;
  padding: 5px;
  border: 1px solid #e1e1e1;
  cursor: pointer;
}

.accordion .panel main {
  background: #fff;

  transition: all 0.3s;
  overflow: hidden;
}
.accordion .panel main.closed {
  max-height: 0;
}
.accordion .panel main div {
  padding: 5px 20px;
}
