.commit-message {
  flex: 1;
}
@media only screen and (max-width: 360px) {
  .commit-message {
    word-wrap: break-word;
    max-width: 200px;
    width: 100%;
  }
}
.commit-message a {
  color: var(--secondary-color);
}
.show-more {
  color: var(--primary-color);
}
