@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  padding: 0;
  margin: 0;
  flex: 1;
  display: flex;
  height: 100vh;
  font-family: sans-serif;
}
:root {
  --primary-color: #04aa6d;
  --secondary: #fefefe;
  --header-footer-bg-color: #04aa6d;
  --header-footer-font-color: #fff;
  --secondary-color: #333;
  --secondary-text-color: #333;
  --font-color: #000;
  --bg-color: #fff;
  --secondary-bg-color: #eee;
}
[data-theme="light"] {
  --primary: #04aa6d;
  --secondary: #fefefe;
  --ternary: #818cab;
}
[data-theme="dark"] {
  --primary: #9a97f3;
  --secondary: #fefefe;
  --ternary: #818cab;
  --primary-color: #9a97f3;
  --header-footer-bg-color: #9a97f3;
  --header-footer-font-color: #fff;
  --secondary-color: #818cab;
  --secondary-text-color: #fff;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --secondary-bg-color: #818cab;
}
.light {
  --primary: #04aa6d;
  --secondary: #fefefe;
  --ternary: #818cab;
}
.dark {
  --primary: #9a97f3;
  --secondary: #161625;
  --ternary: #26245c;
}
.MainWrap {
  flex: 1;
  display: flex;
}
.App {
  background: var(--bg-color);
  color: var(--font-color);
}
.Page {
  flex: 1;
}
main {
  flex: 1;
  max-width: 1200px;
  padding: 0 0.5rem;
}

a {
  text-decoration: none;
}
