html,
body,
#root {
  padding: 0;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
:root {
  --primary: #04aa6d;
  --secondary: #333;
}
.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  text-align: center;
}
header,
footer {
  background: var(--primary);
  color: #fefefe;
  padding: 1.2em;
}
main {
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
}

.commit-message span.show-more {
  cursor: pointer;
}

a {
  text-decoration: none;
}
