.App {
  font-family: sans-serif;
  text-align: center;
}
table {
  width: 100%;
}
table tr,
td,
th {
  text-align: left;
}
td {
  padding: 5px;
}
tbody tr {
  height: 46px;
}
tbody tr:nth-child(odd) {
  background: #eee;
}
input {
  background: #eee;
}
.pagination {
  padding: 5px;
  display: flex;
  border: 1px solid #eee;
}
.pagination div,
button {
  min-width: 30px;
}
.center {
  display: flex;
  justify-content: center;
}
.pagination div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination button {
  background: #eee;
}
a {
  text-decoration: none;
}
