.data-table {
  width: 100%;
}
.data-table-row {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.data-table-row > div {
  padding: 5px;
  display: flex;
  align-items: center;
}

.data-table-row > div:not(:nth-child(1)) {
  border-left: #fff solid 2px;
}
td:not(:nth-child(2)) {
  text-align: center;
}

.data-table-row:nth-child(odd) {
  background: #eee;
}
input[type="search"] {
  background: #eee;
  margin-bottom: 20px;
  border-radius: 4px;
  height: 40px;
}
@media only screen and (max-width: 600px) {
  input[type="search"] {
    width: 95%;
  }
}
